
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - mvcProject</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/firstpage.css" asp-append-version="true" />
    <link rel="stylesheet" href="/mvcProject.styles.css" asp-append-version="true" />
    <link href="/vendors/mdi/css/materialdesignicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet"
          href="/vendors/jvectormap/jquery-jvectormap.css" />
    <link rel="stylesheet"
          href="/vendors/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet"
          href="/vendors/owl-carousel-2/owl.carousel.min.css" />
    <link rel="stylesheet"
          href="/vendors/owl-carousel-2/owl.theme.default.min.css" />
    <link rel="stylesheet" href="./css/site.css" />
    <link rel="stylesheet" href="/css/firstpage.css" />
    <link rel="shortcut icon" href="/images/favicon.png" />
    <script src="/vendors/amchart/core.js"></script>
    <script src="/vendors/amchart/charts.js"></script>
    <script src="/vendors/amchart/themes/animated.js"></script>
</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
                <a class="sidebar-brand brand-logo" href="/">
                    <img src="/images/Mangologo.png" alt="logo" />
                </a>
                <a class="sidebar-brand brand-logo-mini" href="/">
                    <img src="/images/Mangologomini.png" alt="logo" />
                </a>
            </div>
            <ul class="nav">
                <li class="nav-item menu-items active">
                    <a class="nav-link" href="/">
                        <span class="menu-icon">
                            <i class="mdi mdi-speedometer"></i>
                        </span>
                        <span class="menu-title">داشبورد</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="container-fluid page-body-wrapper">
            <nav class="navbar p-0 fixed-top d-flex flex-row">
                <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo-mini" href="/">
                        <img src="/images/Mangologomini.png" alt="logo" />
                    </a>
                </div>
                <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                    <button class="navbar-toggler navbar-toggler align-self-center"
                            type="button"
                            data-toggle="minimize">
                        <span class="mdi mdi-menu"></span>
                    </button>
                    <ul class="navbar-nav w-100">
                        <li class="nav-item w-100">
                            <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                                <input type="text"
                                       class="form-control"
                                       placeholder="جست و جو" />
                            </form>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item dropdown border-left">
                            <a class="nav-link count-indicator dropdown-toggle"
                               id="messageDropdown"
                               href="#"
                               data-toggle="dropdown"
                               aria-expanded="false">
                                <i class="mdi mdi-email"></i>
                                <span class="count bg-success"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                 aria-labelledby="messageDropdown">
                                <h6 class="p-3 mb-0"
                                    style="display: flex; justify-content: end">
                                    پیام ها
                                </h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="/images/faces/face4.jpg"
                                             alt="image"
                                             class="rounded-circle profile-pic" />
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">
                                            کابر 1 به شما پیام داده است
                                        </p>
                                        <p class="text-muted mb-0">1 دقیقه پیش</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="/images/faces/face2.jpg"
                                             alt="image"
                                             class="rounded-circle profile-pic" />
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">
                                            کابر 2 به شما پیام داده است
                                        </p>
                                        <p class="text-muted mb-0">15 دقیقه پیش</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="/images/faces/face3.jpg"
                                             alt="image"
                                             class="rounded-circle profile-pic" />
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">
                                            کابر 3 به شما پیام داده است
                                        </p>
                                        <p class="text-muted mb-0">18 دقیقه پیش</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <p class="p-3 mb-0 text-center" style="direction: rtl">
                                    3 پیام جدید
                                </p>
                            </div>
                        </li>
                        <li class="nav-item dropdown border-left">
                            <a class="nav-link count-indicator dropdown-toggle"
                               id="notificationDropdown"
                               href="#"
                               data-toggle="dropdown">
                                <i class="mdi mdi-bell"></i>
                                <span class="count bg-danger"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                 aria-labelledby="notificationDropdown">
                                <h6 class="p-3 mb-0"
                                    style="display: flex; justify-content: end">
                                    اعلانات
                                </h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-calendar text-success"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">جلسه امروز</p>
                                        <p class="text-muted ellipsis mb-0">جهت یادآوری</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-settings text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">تنظیمات</p>
                                        <p class="text-muted ellipsis mb-0">بروزرسانی داشبورد</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-divider"></div>
                                <p class="p-3 mb-0 text-center">مشاهده اعلانات</p>
                            </div>
                        </li>
                        <li class="nav-item dropdown" style="margin-left: -15px">
                            <a class="nav-link"
                               id="profileDropdown"
                               href="#"
                               data-toggle="dropdown">
                                <div class="navbar-profile">
                                    <img style="width: 60px"
                                         class="img-xs rounded-circle"
                                         src="/images/faces/face15.png"
                                         alt="" />
                                    <p class="mb-0 d-none d-sm-block navbar-profile-name">
                                        کاربر
                                    </p>
                                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                 aria-labelledby="profileDropdown">
                                <h6 class="p-3 mb-0"
                                    style="display: flex; justify-content: end">
                                    پروفایل
                                </h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-settings text-success"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">تنظیمات</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-logout text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">خروج</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <p class="p-3 mb-0 text-center">تنظیمات پیشرفته</p>
                            </div>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
                            type="button"
                            data-toggle="offcanvas">
                        <span class="mdi mdi-format-line-spacing"></span>
                    </button>
                </div>
            </nav>
            <div class="main-panel">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
    <script src="/vendors/js/vendor.bundle.base.js"></script>

    <script src="https://cdn.amcharts.com/lib/4/themes/material.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/lang/de_DE.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/geodata/germanyLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/fonts/notosans-sc.js"></script>
    <script src="/vendors/chart.js/Chart.min.js"></script>
    <script src="/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <script src="/js/off-canvas.js"></script>
    <script src="/js/hoverable-collapse.js"></script>
    <script src="/js/misc.js"></script>
    <script src="/js/settings.js"></script>
    <script src="/js/todolist.js"></script>
    <script src="/js/dashboard.js"></script>


    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
