.shaghayegh-img {
    width: 50px;
    height: 50px;
    margin-top: 19px;
    margin-right: 5px
}

.shaghayegh-p {
    color: gray;
    margin-top: 8px;
    font-weight: 600;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shaghayegh-span {
    display: flex;
    justify-content: center
}

.zirsakht-img {
    width: 50px;
    height: 50px;
    margin-top: 15px
}

.zirsakht-p {
    color: gray;
    margin-top: 8px;
    font-weight: 600;
    font-size: 10.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.zirsakht-span {
    display: flex;
    justify-content: center
}

.behsazan-img {
    width: 50px;
    height: 55px;
    margin-top: 19px;
    margin-right: 10px
}

.behsazan-p {
    color: gray;
    margin-top: 8px;
    font-weight: 600;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.behsazanfarda-img {
    width: 65px;
    height: 65px;
    margin-top: 11px
}

.behsazanfarda-p {
    color: gray;
    margin-top: 10px;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.behsazanfarda-span {
    display: flex;
    justify-content: center
}

.behpardakht-img {
    width: 50px;
    height: 45px;
    margin-top: 18px;
    margin-right: 5px
}

.behpardakht-p {
    color: gray;
    margin-top: 12px;
    font-weight: 600;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.systemyaas-img {
    width: 50px;
    height: 50px;
    margin-top: 17px
}

.systemyaas-p {
    color: gray;
    margin-top: 8px;
    font-weight: 600;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.systemyaas-span {
    display: flex;
    justify-content: center
}

.sanayeyaas-img {
    width: 50px;
    height: 50px;
    margin-top: 17px
}

.sanayeyaas-p {
    color: gray;
    margin-top: 8px;
    font-weight: 600;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sanayeyaas-span {
    display: flex;
    justify-content: center
}

.titlechart-div {
    position: absolute;
    height: 23.8rem;
    background-color: white;
    width: 2.5rem;
    margin-right: -10px;
    border-radius: 5px;
    border: 2px solid #e64056;
    display: flex;
    justify-content: center;
    align-items: center
}

.titlechart-p {
    color: #e64056;
    writing-mode: vertical-rl;
    font-weight: 600
}

.hr-div {
    margin-top: 2.5rem !important;
 margin:auto;
    height: 0.2rem;
    width: 96.5%;
    display: flex;
    justify-content: center;
    background-color: #e64056
}

.hr-text-div1 {
    display: flex;
    justify-content: center;
    margin-top: -15px;
    width: auto;
    background-color: #dddddd;
    color: #e64056;
    font-weight: 800;
    font-size:20px
}
.hr-text-div2 {
    display: flex;
    justify-content: center;
    margin-top: -15px;
    width: auto;
    background-color: #dddddd;
    color: #e64056;
    font-weight: 800;
    font-size: 20px
}

.emtiaz-div {
    width: 100%;
    height: 2.1rem;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px
}

.emtiaz-p {
    font-weight: 600
}

.main-ul-div {
    height: 150px;
    background-color: white;
    box-shadow: 0px 1px 6px 0px gray;
    direction: ltr;
    border-radius: 5px;
    padding-top: 15px;
    margin-top: 5px;
    color: gray;
    overflow: auto
}

.ul-dashboard {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 35px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 600
}

.li-dashboard:hover {
    color: #e64056;
    cursor: pointer;
    zoom: 1.1
}

.li-dashboard-active {
    color: #e64056;
    zoom: 1.1
}

.table-dashboard {
    overflow: auto !important;
    background-color: white !important;
    box-shadow: 0px 1px 6px 0px gray !important;
    direction: rtl !important;
    border-radius: 5px !important;
    height: 380px !important;
    padding: 20px !important;
    width:auto !important;
    border:none !important
}

.th-dashboard {
    color: white !important;
    font-size: 13px !important
}

.td-dashboard {
    font-size: 13px !important
}

.arrowUp {
    color: #00c808;
    font-size: 15px
}

.arrowDown {
    color: red;
    font-size: 15px
}

.active-gauge {
    background-color: #e64056 !important;
    color: white !important
}
.main-div-gauge:hover{
    cursor:pointer
}
.contentstyle {
    padding-bottom: 20px
}

.dashboard-card {
    border-radius: 15px !important;
    box-shadow: 2px 2px 15px 2px gray;
    height: 275px;
}

    .dashboard-card:hover {
        cursor: pointer;
        text-decoration: none;
        border: 1px solid rgb(230, 64, 86);
    }

        .dashboard-card:hover .dashboard-card-header {
            padding: 0.75rem 1.25rem;
            margin-bottom: 0;
            background-color: rgb(230, 64, 86);
            border-bottom: 1px solid rgb(230, 64, 86);
            color: white;
        }

.dashboard-card-header:first-child {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: lightgray;
}

.dashboard-card-body::-webkit-scrollbar-thumb {
    background-color: #d6d6d6;
    border: 4px solid transparent;
    border-radius: 15px;
    background-clip: padding-box;
}

.dashboard-card-body::-webkit-scrollbar {
    width: 12px;
}

.dashboard-card-header {
    display: flex;
    justify-content: center;
}

.selectedCard {
    cursor: pointer;
    text-decoration: none;
    border: 1px solid rgb(230, 64, 86);
}

.selectedCardHeader {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(230, 64, 86) !important;
    border-bottom: 1px solid rgb(230, 64, 86);
    color: white;
}


.body-hover-background {
    overflow: hidden;
}

.main-cards-dashboard {
    grid-row-gap: 35px;
}

g[role="group"] {
    font-size: 13px;
}

.dashboard-breadcrumb {
    background-color: transparent !important;
}

.dashboard-breadcrumbItem:last-child {
    color: #e64056 !important;
}

.chart-title {
    display: flex;
    justify-content: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #898888;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 6px;
        bottom: 3.6px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

input:checked + .slider {
    background-color: #e64056;
}

input:focus + .slider {
    box-shadow: 0 0 1px #e64056;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    right: 32px;
}

.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.timer-input:focus {
    outline: none;
}

.dashboard-breadcrumbItem:hover {
    cursor: pointer;
    color: #e64056 !important;
}

.hoverBar:hover {
    color: #e64056 !important;
    zoom: 1.1 !important;
}

.hoverTable:hover {
    color: #e64056 !important;
    zoom: 1.1 !important;
}

.hoverExclamation:hover {
    color: #e64056 !important;
    zoom: 1.1 !important;
}

.style-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.style-scrollbar::-webkit-scrollbar-thumb {
    background: #757575;
}

.new-main-cards-dashboard {
    grid-column-gap: 80px;
    justify-content: center;
    margin-top: 15px;
    width: 96%;
}

.new-dashboard-card {
    border-radius: 50%;
    box-shadow: 2px 2px 15px 2px gray;
    height: 140px;
    width: 140px;
}

    .new-dashboard-card:hover {
        cursor: pointer;
        text-decoration: none;
        border: 1px solid rgb(230, 64, 86);
    }

        .new-dashboard-card:hover .new-dashboard-card-header {
            padding: 0.75rem 1.25rem;
            margin-bottom: 0;
            background-color: rgb(230, 64, 86);
            border-bottom: 1px solid rgb(230, 64, 86);
            color: white;
        }

.new-dashboard-card-header:first-child {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: lightgray;
}

.new-cardsBody {
    display: flex;
    justify-content: center;
    font-size: 12px;
    padding-top: 35px;
}

.cardsBody-img {
    width: 60px;
    height: 50px;
}

.new-dashboard-card-body::-webkit-scrollbar-thumb {
    background-color: #d6d6d6;
    border: 4px solid transparent;
    border-radius: 15px;
    background-clip: padding-box;
}

.new-dashboard-card-body::-webkit-scrollbar {
    width: 12px;
}

.new-dashboard-card-header {
    display: flex;
    justify-content: center;
}

.new-selectedCard {
    cursor: pointer;
    text-decoration: none;
    border: 1px solid rgb(230, 64, 86);
}

.new-selectedCardHeader {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(230, 64, 86) !important;
    border-bottom: 1px solid rgb(230, 64, 86);
    color: white;
}

.dashboard-accordion {
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 25px;
    margin-bottom: 70px;
}

.accordion-card {
    margin-top: 10px;
    border-radius: 10px !important;
}

.accordion-collapse {
    background-color: white !important;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.card-body-accordion {
    box-shadow: 2px 2px 15px 2px gray;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    background-color: #d7d7d7;
    display: grid;
    grid-row-gap: 25px;
}

.card-header-accordion {
    background-color: #8f8f8f !important;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

.btn-link-accordion {
    color: white !important;
    text-decoration: none;
    font-weight: 500;
    width: 100%;
    display: flex;
}

    .btn-link-accordion:hover {
        text-decoration: none;
    }

    .btn-link-accordion:focus {
        text-decoration: none;
    }

.main-card-btn {
    display: flex;
    margin-top: 25px;
    margin-right: 65px;
}

.open-card-btn {
    border: none;
    background-color: #4d841d;
    color: white;
    font-size: 13px;
    height: 30px;
    width: 120px;
    border-radius: 3px;
}

    .open-card-btn:focus {
        outline: none;
    }

.close-card-btn {
    margin-right: 10px;
    border: none;
    background-color: #e64056;
    color: white;
    font-size: 13px;
    height: 30px;
    width: 120px;
    border-radius: 3px;
}

    .close-card-btn:focus {
        outline: none;
    }

.main-top-row {
    margin-top: 10px;
    background-color: white;
    height: 85px;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    margin-right: 0;
    box-shadow: gray 2px 2px 15px 2px;
}

.show-btn {
    background-color: #e64056;
}

.city-multi-select {
    margin-top: -12px;
}

.navTabs {
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 45px;
    border-bottom: none;
}

    .navTabs .main-nav-home {
        border: 2px solid #e64056;
        color: #e64056;
    }

        .navTabs .main-nav-home:hover {
            border: 2px solid #e64056;
        }

        .navTabs .main-nav-home.active {
            border-right: none;
            border-top: none;
            border-left: none;
            border: 2px solid #e64056;
            padding-right: 4px;
            background-color: #e64056;
            color: white;
            padding-right: 15px;
            margin-right: 10px;
        }

.dashboard-tab {
    padding-right: 50px;
    padding-left: 50px;
}

.main-multi-select {
    align-items: center;
    padding-left: 10px;
    margin-right: 0px;
    display: flex;
    width: 100%;
    background-color: #ffffff;
    height: 60px;
    margin-bottom: 10px;
    box-shadow: gray 2px 2px 15px 2px;
    border-radius: 10px;
}

.main-row-first-page {
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 25px;
}

.card-headers-first-page {
    display: flex;
    justify-content: center;
    background-color: #8d8d8d;
    color: white;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.main-card-first-page {
    box-shadow: gray 2px 2px 15px 2px;
    border-radius: 10px !important;
}

.big-circle {
    width: 155px !important;
    height: 155px !important;
    margin-top: -15px !important
}

.div2 {
    transition: transform 0.5s;
    position: relative;
    border-radius: 50% !important;
    background-color: white !important;
    box-shadow: 2px 3px 11px -2px rgb(0 0 0 / 20%);
    width: 120px;
    height: 120px;
    padding: 5px;
    border-radius: 50%;
    border: 3px solid gray;
    background-clip: content-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

    .div2:hover {
        transform: scale(1.12);
        cursor: pointer;
        padding: 5px;
        border-radius: 50%;
        border: 3.5px solid #e64056 !important;
        background-clip: content-box;
    }

.div2-active {
    border: 3.5px solid #e64056 !important;
    transform: scale(1.12) !important;
}

.table-bordered th {
    border: 1px solid #878787 !important;
}
.tr-table-dash:hover {
    background-color: #e7e7e7
}

@media screen and (min-width: 1688px) and (max-width: 1800px) {
    .new-main-cards-dashboard {
        grid-column-gap: 75px;
        width: 94.6%;
    }
}

@media screen and (min-width: 1552px) and (max-width: 1687px) {
    .new-main-cards-dashboard {
        grid-column-gap: 80px;
        width: 93.9%;
    }
}

@media screen and (max-width: 1595px) {
    .city-multi-select {
        margin-top: -45px;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1551px) {
    .new-main-cards-dashboard {
        grid-column-gap: 65px;
        width: 94.5%;
    }

    .new-dashboard-card-header {
        font-size: 11px;
        font-weight: bolder;
    }
}

@media screen and (min-width: 1282px) and (max-width: 1401px) {
    .new-dashboard-card-header {
        font-size: 11px;
        font-weight: bolder;
    }
}

@media screen and (max-width: 1199px) {
    .new-cardsBody {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 767px) {
    .new-cardsBody {
        display: unset;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 575px) {
    .new-cardsBody {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 363px) {
    .new-cardsBody {
        display: unset;
        flex-direction: column;
        align-items: center;
    }
}
